* {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: otsikko;
  src: url(../fonts/AldithRegular.ttf)
}

@font-face {
  font-family: kursivoitu;
  src: url(../fonts/Aldithtalic.ttf)
}

li:hover {
  cursor: pointer;
  background-color: pink;
  border
}

h1 {
  color: darkorchid;
  font-size: 500%;
  font-family: otsikko;
}

h2 {
  color: darkorchid;
  font-family: kursivoitu;
}

/*ANIMOINTI*/

@keyframes otsikko {
  0% {
    top: -200px
  }
  25% {
    top: 0px
  }
  60% {
    top: -20px
  }
  100% {
    top: 0px
  }
}

#animoitu {
  animation-name: otsikko;
  position: relative;
  animation-duration: 4s;
}

/*LOMAKE */

button {
  background-color: white;
  border-radius: 5px;
  border-width: 1px;
  border-color: orchid;
  box-shadow: darkorchid 1px 1px 3px;
  padding: 2px;
  margin: 2px;
}

input {
  border-color: orchid;
  border-width: 1px;
  padding: 2px;
  margin: 2px;
}

hr {
  border: darkorchid 1px solid;
}

body {
  margin: 10px;
  background-color: thistle;
}

a {
  color: #00B7FF;
}

.yliviivaus {
  text-decoration: line-through;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 150px 150px 300px 300px;
}

header {
  background-color: whitesmoke;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

section {
  background-color: whitesmoke;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  padding: 20px;
  border-radius: 0 0 0px 20px;
  overflow-y: auto;
}

aside {
  background-color: whitesmoke;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 5;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 20px 0px;
}

#kuvadiv {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

#tuotekuva {
  max-width: 500px;
  max-height: 450px;
  width: 100%;
  height: 100%;
}

form {
  margin-bottom: 50px;
}

li {
  padding: 5px;
}

ol {
  background-color: white;
  border-radius: 20px;
}