* {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: otsikko;
  src: url(../fonts/AldithRegular.ttf)
}

.nappitehty, .nappipoista, .nappimuokkaa {
  float: right;
}

li:hover {
  cursor: pointer;
  background-color: wheat;
  border-radius: 10px 10px 10px 10px;
}

h1 {
  color: white;
  font-size: 500%;
  font-family: otsikko;
}

/*ANIMOINTI*/

@keyframes otsikko {
  0% {
    top: -200px
  }
  25% {
    top: 0px
  }
  60% {
    top: -20px
  }
  100% {
    top: 0px
  }
}

#animoitu {
  animation-name: otsikko;
  position: relative;
  animation-duration: 4s;
}

/*LOMAKE */

button {
  background-color: white;
  border-radius: 2px;
  border-width: 1px;
  border-color: grey;
  box-shadow: silver 1px 1px 3px;
  margin-left: 5px;
}

.hakubtn {
  margin-top: 5px;
}

input {
  border-color: black;
  border-width: 1px;
  padding: 2px;
  margin: 2px;
}

hr {
  border: slategray 1px solid;
}

body {
  margin: 0px;
  background-color: lightyellow;
}

a {
  color: #00B7FF;
}

.yliviivaus {
  text-decoration: line-through;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 150px 150px 250px 300px;
}

header {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 20px;
  background-color: orange;
}

main {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 5;
  padding: 20px;
  border-radius: 0 0 0px 20px;
}

img {
  text-align: center;
}

aside {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  text-align: left;
  padding: 10px;
}

#kuvadiv {
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

#tuotekuva {
  max-width: 500px;
  max-height: 450px;
  width: 100%;
  height: auto;
}

#otsikko {
  margin-left: 20px;
  color: darkorchid;
  font-size: 200%;
  text-transform: capitalize;
}

#ravinteetdiv {
  margin-left: 20px;
}

#hakuform {
  margin-bottom: 50px;
  padding: 20px;
}

li {
  padding: 8px;
  margin: 0px;
}

ol {
  background-color: white;
  border-radius: 20px;
}

#wrappi {
  background-color: white;
  border-radius: 20px;
}