* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightyellow;
  margin: 0px;
}

@font-face {
  font-family: otsikko;
  src: url(../fonts/ALDITHRegular.ttf)
}

h1 {
  color: white;
  font-size: 500%;
  font-family: otsikko;
  margin: 0px;
  margin-top: 50px;
}

h2 {
  color: orange;
}

/*ANIMOINTI*/

@keyframes otsikko {
  0% {
    top: -200px
  }
  25% {
    top: 0px
  }
  60% {
    top: -20px
  }
  100% {
    top: 0px
  }
}

#animoitu {
  animation-name: otsikko;
  position: relative;
  animation-duration: 4s;
}

/*LOMAKE*/

button {
  background-color: orange;
  border: 0px;
  margin-left: 5px;
  padding: 5px;
  color: white;
}

.hakubtn {
  margin-top: 5px;
}

button:hover {
  background-color: orangered;
}

.nappitehty {
  float: right;
  height: 26px;
}
.nappimuokkaa, .nappipoista, .nappiravinto{
  width: 26px;
  height: 26px;
  float: right;
}

input {
  border-color: black;
  border-width: 1px;
  padding: 2px;
  margin: 2px;
}

.ostosli {
  padding: 10px;
  height: 30px;
  border-radius: 10px 10px 10px 10px;
}

.ostosli:hover {
  cursor: pointer;
  background-color: wheat;
}

li {
  padding: 5px;
}

ol {
  background-color: white;
  border-radius: 10px;
}

hr {
  border: slategray 1px solid;
}


a {
  color: red;
}

.yliviivaus {
  text-decoration: line-through;
}

/*GRID */

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 200px 200px 160px 600px;
}

header {
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 20px;
  background-color: orange;
}

main {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  padding: 20px;
}

aside {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  text-align: center;
  padding: 10px;
}

#kuvadiv {
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

#tuotekuva {
  max-width: 350px;
  max-height: 300px;
  width: 100%;
  height: auto;
}

#ravinteetdiv {
  margin-left: 20px;
}

#otsikko {
  margin-left: 20px;
  color: orange;
  font-size: 200%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form {
  margin-bottom: 50px;
}

#wrappi {
  background-color: white;
  border-radius: 20px;
}
