* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: darkorchid;
  font-size: 250%;
}

body {
  margin: 10px;
  background-color: thistle;
}

a {
  color: #00B7FF;
}

.yliviivaus {
  text-decoration: line-through;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 150px 150px 150px 200px;
}

header {
  background-color: whitesmoke;
  grid-column-start: 1;
  grid-column-end: 5;
  padding: 20px;
  border-radius: 20px 20px 0 0;
}

section {
  background-color: whitesmoke;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2 ;
  grid-row-end: 5;
  padding: 20px;
  border-radius: 0 0 0px 20px; 
  overflow-y: scroll;
}

aside {
  background-color:whitesmoke;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2 ;
  grid-row-end: 5;
  text-align: center;
  padding: 10px;
  border-radius: 0 0 20px 0px;
}


#tuotekuva {
  max-width: 500px;
  max-height: 450px;
}

form {
  margin-bottom: 50px;
}

li {
  padding: 5px;
}

ol {
  background-color: white;
  border-radius: 20px;
}