* {
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: otsikko;
  src: url(../fonts/ALDITHRegular.ttf)
}

h1 {
  color: darkorchid;
  font-family: otsikko;
  font-size: 400%;
}

h2 {
  color: darkorchid;
  font-family: kursivoitu;
}

/*ANIMOINTI*/

@keyframes otsikko {
  0% {
    top: -200px
  }
  25% {
    top: 0px
  }
  60% {
    top: -20px
  }
  100% {
    top: 0px
  }
}

#animoitu {
  animation-name: otsikko;
  position: relative;
  animation-duration: 4s;
}

/*LOMAKE*/

button {
  background-color: white;
  border-radius: 5px;
  border-width: 1px;
  border-color: orchid;
  box-shadow: darkorchid 1px 1px 3px;
  padding: 2px;
  margin: 2px;
}

input {
  border-color: orchid;
  border-width: 1px;
  padding: 2px;
  margin: 2px;
}

hr {
  border: darkorchid 1px solid;
}

body {
  margin: 10px;
  background-color: whitesmoke;
}

a {
  color: #00B7FF;
}

.yliviivaus {
  text-decoration: line-through;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 120px 120px 120px 200px 250px 200px;
}

header {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  padding: 20px;
  text-align: center;
}

main {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
  padding: 20px;
  overflow-y: auto;
}

aside {
  background-color: whitesmoke;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
  text-align: center;
  padding: 10px;
}

section {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 6;
  grid-row-end: 7;
}

#kuvadiv {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
}

#tuotekuva {
  max-width: 200px;
  max-height: 150px;
  width: 100%;
  height: auto;
}

form {
  margin-bottom: 30px;
}

#otsikko {
  margin-left: 20px;
  color: darkorchid;
  font-size: 200%;
}

.nappitehty, .nappipoista, .nappimuokkaa {
  float: right;
}

li {
  padding: 5px;
}

ol {
  background-color: white;
  border-radius: 20px;
}

#ravinteetdiv {
  margin-left: 20px;
}